VITE_API_URL=http://localhost:5000/api
VITE_MAP_STYLE_DARK=https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json
VITE_MAP_STYLE_LIGHT=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json
